<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Big</title>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6ddd12fa46.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6ddd12fa46.js" crossorigin="anonymous"></script>

    <!-- Style, Script -->
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>

    <!-------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------- loading -->
    <div class="preloader"></div>

    <div id="app">
        <div class="container-fulid my-5">
            <div class="row">

                <!------------------------------------------------------------------------------>
                <!--------------------------------------------------------------------- State -->

                <div class="col-md-3 statePanel">

                    <div class="money">
                        <!--  money status -->
                        <img class="buget_img" src="img/boards/coin.svg">
                        <h4 class="buget_value fz_600 ci1">{{ tokenState }}</h4>
                    </div>

                    <div class="dice myhover mt-5">
                        <!-- Dice -->
                        <a @click.prevent="roll">
                            <img id="dice" src="img/dice/d1.svg">
                        </a>
                    </div>

                </div>

                <!------------------------------------------------------------------------------>
                <!--------------------------------------------------------------------- Board -->

                <div class="pt-5 col-md-9">

                    <!--------------------------------------------------------------------- row1 -->

                    <div class="pt-5 row">
                        <div class="col-3"></div>
                        <!-- <div class="col-1 chs4 border1" id="pos0" style="background-image : url('img/boards/start.svg');background-repeat: no-repeat;background-size: contain;background-position: center;"></div> -->
                        <div class="col-1" id="pos0"></div>
                        <div class="col-1 chs1 border1 boardImg" id="pos1" style="background-image : url('img/modals/p1.svg');"></div>
                        <div class="col-1 chs2 border1 boardImg" id="pos2" style="background-image : url('img/modals/p2.svg');">
                        </div>
                        <div class="col-1 chs3 border1 boardImg" id="pos3" style="background-image : url('img/modals/p3.svg');"></div>
                        <div class="col-1 chs2 border1 boardImg" id="pos4" style="background-image : url('img/modals/p4.svg');"></div>
                        <div class="col-1 chs4 border1 boardImg" id="pos5" style="background-image : url('img/modals/p5.svg');">
                        </div>
                        <div class="col-1 chs1 border1 boardImg" id="pos6" style="background-image : url('img/modals/p6.svg');"></div>
                        <div class="col-1 chs3 border2" style="border-top-right-radius: 100%;"></div>
                        <div class="col-1"></div>
                    </div>

                    <!--------------------------------------------------------------------- row2 -->

                    <div class="row">
                        <div class="col-10"></div>
                        <div class="col-1 chs3 border3 boardImg" id="pos7" style="background-image : url('img/modals/p7.svg');">
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <!--------------------------------------------------------------------- row3 -->

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-1 chs2 border5" style="border-top-left-radius: 100%;"></div>
                        <div class="col-1 chs1 border6 boardImg" id="pos15" style="background-image : url('img/modals/p15.svg');"></div>
                        <div class="col-1 chs2 border1 boardImg" id="pos14" style="background-image : url('img/modals/p14.svg');">
                        </div>
                        <div class="col-1 chs4 border1 boardImg" id="pos13" style="background-image : url('img/modals/p13.svg');"></div>
                        <div class="col-1 chs3 border1 boardImg" id="pos12" style="background-image : url('img/modals/p12.svg');"></div>
                        <div class="col-1 chs1 border1 boardImg" id="pos11" style="background-image : url('img/modals/p11.svg');"></div>
                        <div class="col-1 chs2 border1 boardImg" id="pos10" style="background-image : url('img/modals/p10.svg');">
                        </div>
                        <div class="col-1 chs4 border1 boardImg" id="pos9" style="background-image : url('img/modals/p9.svg');"></div>
                        <div class="col-1 chs1 border1 boardImg" id="pos8" style="background-image : url('img/modals/p8.svg');">
                        </div>
                        <div class="col-1 chs3 border4" style="border-bottom-right-radius: 100%;"></div>
                        <div class="col-1" id="pos12"></div>
                    </div>

                    <!--------------------------------------------------------------------- row4 -->

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-1 chs2 border3 boardImg" id="pos16" style="background-image : url('img/modals/p16.svg');">
                        </div>
                        <div class="col-10"></div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-1 chs2 border4" style="border-bottom-left-radius: 100%;"></div>
                        <div class="col-1 chs3 border6 boardImg" id="pos17" style="background-image : url('img/modals/p17.svg');"></div>
                        <div class="col-1 chs1 border1 boardImg" id="pos18" style="background-image : url('img/modals/p18.svg');">
                        </div>
                        <div class="col-1 chs4 border0 boardImg" id="pos19" style="background-image : url('img/modals/p20.svg');"></div>
                    </div>

                    <!--------------------------------------------------------------------- row5 -->

                    <div class="row">
                        <div class="col-4"></div>
                        <!-- <div class="col-1 chs3 border4 boardImg" id="pos20" style="background-image : url('img/boards/finish_line.svg');background-repeat: no-repeat;background-size: contain;background-position: center;"> -->
                        <div class="col-1" id="pos20">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------------------------------------------------------>
        <!--------------------------------------------------------------------- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">

                <!-- modal-dialog-centered -->
                <div class="modal-content">
                    <div class="modal-header">
                        <div v-if="popupStatus == 2"></div>
                        <button type="button" class="close" v-else-if="token <= 0 || count >= 20" @click="popupStatus = 2">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <button type="button" class="close" v-else data-dismiss="modal" aria-label="Close" @click="popupStatus = 0">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" v-if="popupStatus == 0">
                        <div class="row pr-4 pl-4">
                            <div class="col-lg-6">
                                <img class="sunray rotating" src="img/modals/sunray1.png">
                                <img class="modalImg center_dis bounce" :src="'img/modals/'+data[index].img.project_img">
                            </div>

                            <div class="col-lg-6">
                                <h3 class="ci1 fz_600">{{ data[index].name }}</h3>
                                <p class="ci2 fz_300 modalDetail">
                                    <br> {{ data[index].details }}
                                    <br><br>
                                    <i class="fas fa-building"></i> {{ data[index].agency }}
                                    <br>
                                    <i class="fas fa-clock"></i> {{ data[index].date }}
                                    <br>
                                    <br>
                                    <a class="ci2" :href="data[index].cr" target="_blank">อ่านเพิ่มเติม <i class="fad fa-angle-double-right"></i></a>
                                </p>
                                <br>

                                <div class="moneyModal">
                                    <!--  Token status -->
                                    <img class="buget_Modal_img" src="img/boards/coin.svg">
                                    <h5 class="buget_Modal_value fz_600 ci2">{{ data[index].token }}</h5>
                                </div>

                                <button class="btn btn-success" @click="selectResult(true, index)">ลงทุน</button>
                                <button class="btn btn-danger" data-dismiss="modal" aria-label="Close" aria-hidden="true">ไม่ลงทุน</button>
                                <br><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                    </div>

                    <!-- Invest modal -->

                    <div class="modal-body" v-if="popupStatus == 1">
                        <div class="modalInvest">
                            <img class="warningIcon" src="img/modals/warning.svg" v-if="data[index].state == 'Bad'">
                            <img class="sunray rotating" src="img/modals/sunray1.png" v-if="data[index].state == 'Good'">
                            <img class="sunray rotating" src="img/modals/sunray2.png" v-else>
                            <img class="modalImg center_dis bounce" :src="'img/modals/'+data[index].img.project_img">
                        </div>
                        <h5 class="modalInvest_destail text-center">{{ investState }}</h5>
                        <br>
                        <hr>

                        <div class="row">
                            <div class="col-2"></div>

                            <div class="col-4 badge_Score">
                                <img class="bagde_Score_img center_dis myhover" src="img/modals/score_1.svg" v-if="data[index].state == 'Good'">
                                <img class="bagde_Score_img center_dis myhover" src="img/modals/score_2.svg" v-else>
                                <h4 class="my-0 text-center fz_600 ci1" v-if="data[index].state == 'Good'">+ {{ data[index].points }} point</h4>
                                <h4 class="my-0 text-center fz_600 ci1" v-else>- {{ data[index].points }} point</h4>
                            </div>
                            <div class="col-4 badge_Score">
                                <img class="bagde_Score_img center_dis myhover" :src="'img/badge/'+data[index].img.badge_img">
                                <p class="my-0 text-center fz_600 ci1">{{ data[index].badge }}</p>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>

                    <!-- Result modal -->

                    <div class="modal-body" v-if="popupStatus == 2">
                        <div class="modalInvest">
                            <img class="sunray rotating" src="img/modals/sunray1.png">
                            <img class="modalImg center_dis bounce" src="img/modals/ResultLabel.svg">
                        </div>

                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <h3 class="fz_600 center_dis">SCORE</h3>
                                <h1 class="fz_600 center_dis fz_700">{{ point }}</h1>
                                <br>
                                <hr>
                                <h5 class="fz_300 center_dis mt-2">badge ที่คุณได้รับ</h5>
                            </div>
                        </div>
                        <div class="alert alert-secondary w-75 mx-auto my-3" role="alert" v-if="badgeOpenDetail == 1">
                            <h4 class="alert-heading fz_600">{{ badgeDetail.name }}</h4>
                            <p>{{ badgeDetail.details }}</p>
                            <hr>
                            <p class="mb-0">
                                <i class="fas fa-usd-circle"></i> งบประมาณที่ใช้ ${{ badgeDetail.budget }}
                                <br>
                                <i class="fas fa-building"></i> {{ badgeDetail.agency }}
                                <br>
                                <i class="fas fa-clock"></i> {{ badgeDetail.date }}
                                <br>
                                <br>
                                <a class="ci2" :href="badgeDetail.cr" target="_blank">อ่านเพิ่มเติม <i class="fad fa-angle-double-right"></i></a>
                            </p>
                        </div>
                        <div class="row w-75 mx-auto">
                            <div class="col-md-3" v-for="(badge, index) in badgeAppend">
                                <img class="w-100 myhover" :src="badge.badge_img" v-if="badge.status == true" @click="getBadgeDetail(index)" />
                                <img class="w-100 myhover" style="filter: grayscale(100%);" :src="badge.badge_img" v-else/>
                            </div>
                        </div>

                        <br>
                        <div class="text-center">
                            <button class="text-center btn btn-success mb-5" onClick="window.location.href=window.location.href">เล่นอีกครั้ง <i class="fas fa-redo-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<!----------------------------------------------------------------------------->
<!--------------------------------------------------------------------- Vue -->

<script>
    var app = new Vue({
        el: '#app',
        data: {
            before: 0,
            count: 0,
            index: 0,
            dice: 0,
            token: 230,
            tokenState: '230 Token',
            investState: '',
            popupStatus: 0,
            point: 0,
            badge: '',
            badgeResult: [],
            badgeAppend: [],
            badgeOpenDetail: 0,
            badgeDetail: 0,
            data: [{
                id: 1,
                name: "China Sky Eye",
                result: "ยินดีด้วย คุณได้สร้างกล้องโทรทรรศน์ China Sky Eye ทำให้ตอนนี้สามารถศึกษาและเข้าใจถึงการเกิดของจักรวาลได้",
                details: "กล้องโทรทรรศน์ที่ใหญ่ที่สุดของโลก โดยมีอีกชื่อเรียกหนึ่งว่า 'FAST' ที่ย่อมาจาก 'Five-hundred-meter Aperture Spherical radio Telescope' มีความว่องไวในการตรวจจับมากกว่ากล้องปกติถึง 2.5 เท่า และสามารถรับข้อมูลได้สูงสุด 38 กิกะไบต์ต่อวินาที ใช้ตรวจจับสัญญาณคลื่นแม่เหล็กจากเศษซากของดาวฤกษ์เพื่อทำความเข้าใจการเกิดของจักรวาลรวมถึงการค้นหาสัญญาณสิ่งมีชีวิตทรงภูมิปัญญานอกโลก โดยมีผลงานคือการค้นพบพัลซาร์ (pulsar) หรือเศษซากดาวฤกษ์ความหนาแน่นสูงทั้งหมด 102 ดวง มากกว่าจำนวนพัลซาร์ที่ทีมวิจัยในยุโรปและสหรัฐฯ ค้นพบรวมกันในช่วงเวลาเดียวกัน",
                token: "15",
                state: "Good",
                points: 150,
                badge: "ผู้เฝ้ามองจักรวาล",
                budget: 171000000,
                currency: "million",
                img: {
                    badge_img: "b1.svg",
                    project_img: "p1.svg"
                },
                agency: "National Development and Reform Commission (NDRC) ประเทศจีน",
                date: "มีนาคม 2011 – 3 กรกฎาคม 2016",
                cr: "https://fast.bao.ac.cn"
            }, {
                id: 2,
                name: "Neuralink",
                result: "ตอนนี้คุณได้พัฒนาชิปสั่งการผ่านสื่อประสาทสมอง ทำให้สามารถช่วยเหลือผู้ป่วยที่สูญเสียการควบคุม",
                details: "พัฒนาระบบเส้นสื่อประสาทที่เชื่อมระหว่างสมองของคนเข้ากับชิปคอมพิวเตอร์ และสามารถแปลงความต้องการหรือคำสั่งของสมองออกมาให้กลายเป็นการกระทำ สามารถปลูกถ่ายให้กับผู้ป่วยอัมพาต ผู้ป่วยโรคหลอดเลือดสมอง ผู้ป่วยโรคมะเร็ง หรือผู้ป่วยโรคอื่นๆ ที่สูญเสียการควบคุมร่างกาย",
                token: "20",
                state: "Good",
                points: 200,
                badge: "ชิปประสาทสั่งการ",
                budget: 100000000,
                currency: "million",
                img: {
                    badge_img: "b2.svg",
                    project_img: "p2.svg"
                },
                agency: "Neuralink Corporation ก่อตั้งโดย Elon Musk ประเทศสหรัฐอเมริกา",
                date: "กรกฎาคม 2016 - ปัจจุบัน",
                cr: "https://neuralink.com/"
            }, {
                id: 3,
                name: "COVAX",
                result: "ยินดีด้วย ตอนนี้คุณมีวัคซีนต้านCovid-19และยังได้มอบวัคซีนไปทั่วโลกแล้ว",
                details: "โครงการวิจัยและพัฒนาวัคซีนต้านโควิด-19 เกิดขึ้นภายใต้ความร่วมมือของกลุ่มพันธมิตรความร่วมมือด้านนวัตกรรมเพื่อรับมือโรคระบาด (Coalition for Epidemic Preparedness Innovations: CEPI) องค์กรกาวี (Gavi, the Vaccine Alliance) และองค์การอนามัยโลก ซึ่งทำงานร่วมกับผู้ผลิตวัคซีนทั้งในประเทศพัฒนาแล้วและประเทศกำลังพัฒนา ซึ่งจัดตั้งขึ้นเพื่อสนับสนุนการเข้าถึงวัคซีนโควิด-19 ของประเทศต่างๆ ทั่วโลก โดย WHO มั่นใจว่าโครงการนี้ จะเป็นเสาหลักให้ทุกประเทศสามารถเข้าถึงวัคซีนต้านโควิด-19 ที่พัฒนาสำเร็จแล้วและผ่านการจดทะเบียนรับรองได้อย่างเท่าเทียมกัน",
                token: "40",
                state: "Good",
                points: 400,
                badge: "วัคซีนต้านCovid-19",
                budget: 1400000000,
                currency: "billion",
                img: {
                    badge_img: "b3.svg",
                    project_img: "p3.svg"
                },
                agency: "Coalition for Epidemic Preparedness Innovations:CEPI, Gavi, the Vaccine Alliance, World Health Organization:WHO",
                date: "24 สิงหาคม 2020 - ปัจจุบัน",
                cr: "https://www.gavi.org/covax-facility"
            }, {
                id: 4,
                name: "International Space Station, ISS",
                result: "ยินดีด้วย คุณได้สร้างสถานีอวกาศนานาชาติเป็นห้องปฏิบัติการลอยฟ้าในชื่อ ISS เพื่อใช้ในการทำการทดลองต่างๆ",
                details: "สถานีอวกาศนานาชาติเป็นห้องปฏิบัติการลอยฟ้าซึ่งโคจรรอบโลก ทำหน้าที่เป็นห้องทดลองวิจัยอย่างถาวรในอวกาศ  ทำการทดลองด้านต่าง ๆ ได้แก่ ชีววิทยา ชีววิทยามนุษย์ ฟิสิกส์ ดาราศาสตร์ และ อุตุนิยมวิทยา เราสามารถมองเห็นสถานีอวกาศนานาชาติได้ด้วยตาเปล่าจากพื้นโลก",
                token: "50",
                state: "Good",
                points: 500,
                badge: "ห้องปฏิบัติการลอยฟ้า",
                budget: 35000000000,
                /*35-100 billion*/
                currency: "billion",
                img: {
                    badge_img: "b4.svg",
                    project_img: "p4.svg"
                },
                agency: "NASA (สหรัฐอเมริกา), Roscosmos (รัสเซีย), JAXA (ญี่ปุ่น), ESA (ยุโรป) และ CSA (แคนาดา)",
                date: "ปล่อยสู่ชั้นบรรยากาศวันที่ 20 พฤศจิกายน 1998 และยังคงโคจรรอบโลกถึงปัจจุบัน",
                cr: "https://www.nasa.gov/mission_pages/station/main/index.html"
            }, {
                id: 5,
                name: "Space Shuttle Challenger (OV-099)",
                result: "พระเจ้าช่วย! นี่คือโศกนาฏกรรมอีกครั้งของนาซ่า กระสวยอวกาศระเบิด OV-099 ได้ระเบิดหลังพุ่งทยานขึ้นสู่ฟ้าและได้พรากชีวิตนักบินอวกาศของเราไปถึง 7 คน",
                details: "กระสวยอวกาศชาเลนเจอร์ เป็นกระสวยอวกาศลำที่สองที่ใช้ปฏิบัติภารกิจในอวกาศขององค์การนาซ่า ปฏิบัติภารกิจมาแล้วถึง 9 ครั้งก่อนที่จะมาประสบอุบัติเหตุกระสวยอวกาศระเบิด(ในภารกิจที่ STS-51-L) ในวันที่ 28 มกราคม 1986 หลังจากที่ปล่อยกระสวยสู่ท้องฟ้าได้ 73 วินาที และนักบินอวกาศทั้ง 7 เสียชีวิตทั้งหมด",
                token: "20",
                state: "Bad",
                points: 400,
                badge: "ความสูญเสียครั้งใหญ่",
                budget: '-',
                currency: "-",
                img: {
                    badge_img: "b5.svg",
                    project_img: "p5.svg"
                },
                agency: "National Aeronautics and Space Administration:NASA",
                date: "เริ่มโครงการสร้าง: 1 มกราคม 1979 - เกิดเหตุ: 28 มกราคม 1986",
                cr: "https://www.nasa.gov/centers/kennedy/shuttleoperations/orbiters/challenger-info.html"
            }, {
                id: 6,
                name: "Space Elevator",
                result: "ไม่น่าเชื่อ! คุณได้สร้างลิฟต์ที่จะส่งขึ้นไปยังสถานีอวกาศได้โดยไม่ต้องพึ่งการยิงจรวดส่งคนขึ้นไป อีกทั้งยังประหยัดค่าใช้จ่ายอีกด้วย",
                details: "ประเทศญี่ปุ่นจะก่อสร้างปล่องลิฟต์สูงขึ้นไปจนถึงสถานีอวกาศปลายทางที่ความสูง 35,000 กิโลเมตรเหนือพื้นโลก ผู้เชี่ยวชาญด้านเทคโนโลยีมองกันว่า ลิฟต์อวกาศที่สามารถขนส่งผู้คนและสิ่งของจากพื้นโลกขึ้นไปสู่อวกาศได้โดยตรง อาจเป็นทางเลือกที่ดีกว่าการยิงจรวด เนื่องจากประหยัดเชื้อเพลิงมากกว่า ทั้งเสียเวลาเตรียมการเดินทางและเสียค่าใช้จ่ายน้อยกว่ากันมาก โดยตั้งเป้าให้ใช้งานได้จริงภายในปี 2050",
                token: "25",
                state: "Good",
                points: 250,
                badge: "ประตูลิฟต์สู่อวกาศ",
                budget: 90000000000,
                currency: "billion",
                img: {
                    badge_img: "b6.svg",
                    project_img: "p6.svg"
                },
                agency: "โครงการโดยทีมนักวิจัยของมหาวิทยาลัยชิสุโอกะ ประเทศญี่ปุ่น",
                date: "26 สิงหาคม 2018 - ปัจจุบัน",
                cr: "https://mainichi.jp/english/articles/20180826/p2a/00m/0na/005000c"
            }, {
                id: 7,
                name: "Mars orbiter mission",
                result: "ว้าว คุณได้สร้างเทคโนโลยีทางวิทยาศาสตร์เพื่อใช้ในการปฏิบัติการสำรวจดาวอังคารแล้ว",
                details: "โครงการพัฒนาเทคโนโลยีสำหรับการออกแบบและการวางแผนจัดการ การปฎิบัติภารกิจระหว่างดาวเคราะห์ และ สำรวจลักษณะพื้นผิวของดาวอังคาร การสังเกตุชั้นบรรยากาศของดาวอังคารโดยใช้เครื่องมือทางวิทยาศาสตร์",
                token: "10",
                state: "Good",
                points: 100,
                badge: "นักสำรวจดาวอังคาร",
                budget: 74000000,
                currency: "million",
                img: {
                    badge_img: "b7.svg",
                    project_img: "p7.svg"
                },
                agency: "Indian Space Research Organisation (ISRO) ประเทศอินเดีย",
                date: "5 พฤศจิกายน 2013 และยังโคจรรอบดางอังคารถึงปัจจุบัน",
                cr: "https://www.isro.gov.in/pslv-c25-mars-orbiter-mission"
            }, {
                id: 8,
                name: "Glory mission",
                result: "แจ้งเตือน! ขณะนี้จรวด Taurus XLของเราที่ได้ส่งขึ้นไปไม่สามารถสลัดดาวเทียวออกจากตัวจรวดได้เพราะอุปกรณ์ไม่เป็นไปตามมาตรฐาน  ทำให้กระสวยและดาวเทียวตกอยู่กลางมหาสมุทร",
                details: "โครงการดาวเทียมที่วางแผนไว้เพื่อเฝ้าสังเกตระดับของก๊าซคาร์บอนไดออกไซด์ (CO2) ในชั้นบรรยากาศ และรวบรวมข้อมูลเพื่อทำความเข้าใจในวัฏจักรของธาตุคาร์บอน ในวันที่ 24 กุมภาพันธ์ ค.ศ. 2009 จรวดชื่อ Taurus XL ถูกส่งขึ้นไป เพื่อนำดาวเทียมเข้าสู่วงโคจร แต่เกิดความผิดพลาดขึ้น เนื่องจาก Payload fairing ไม่ได้ถูกสลัดออกจากดาวเทียมตามแผน ทำให้กระสวยทั้งหมดพร้อมกับดาวเทียมตกลงสู่มหาสมุทรใกล้กับแอนตาร์กติกา วันที่ 4 มีนาคม ค.ศ. 2011 เกิดความผิดพลาดในทำนองเดียวกัน ผลจากการสอบสวนพบว่าสาเหตุของความล้มเหลวทั้ง 2 ครั้ง เกิดจากชิ้นส่วนอลูมิเนียมที่ถูกอัดขึ้นรูป และใช้เป็นส่วนประกอบของ Payload fairing ที่ไม่เป็นไปตามมาตรฐาน",
                token: "15",
                state: "Bad",
                points: 300,
                badge: "ความผิดพลาดจากอุปกรณ์ที่ผิดรูป",
                budget: '-',
                currency: "-",
                img: {
                    badge_img: "b8.svg",
                    project_img: "p8.svg"
                },
                agency: "National Aeronautics and Space Administration:NASA",
                date: "ปล่อยตัว: 4 มีนาคม 2011 และเกิดเหตุในวันเดียวกัน",
                cr: "https://www.nasa.gov/mission_pages/Glory/main/"
            }, {
                id: 9,
                name: "The MOSAiC",
                result: "ยินดีด้วย! เรือที่คุณสร้างได้นำนักวิทยาศาสตร์เข้าสู่ขั้วโลกเหนือเพื่อสำรวจต้นตอของปัญหาภาวะโลกร้อน",
                details: "เรือวิจัยโลร์สเติร์นนำคณะนักวิทยาศาสตร์นานาชาติ ออกเดินทางจากท่าเรือเมืองทรอมโซในนอร์เวย์ มุ่งหน้าสู่ภูมิภาคอาร์ติกแถบขั้วโลกเหนือ ที่ซึ่งจะปักหลักอยู่นาน 1 ปี เพื่อทำการสำรวจวิจัยเกี่ยวกับการเปลี่ยนแปลงของสภาพภูมิอากาศโลก ซึ่งเป็นต้นตอของปัญหาภาวะโลกร้อน",
                token: "30",
                state: "Good",
                points: 300,
                badge: "กัปตันผู้พิชิตโลกร้อน",
                budget: 165000000,
                currency: "million",
                img: {
                    badge_img: "b9.svg",
                    project_img: "p9.svg"
                },
                agency: "Alfred Wegener Institute, Helmholtz Centre for Polar and Marine Research:AWI ประเทศเยอรมันนี",
                date: "กันยายน 2019 - ภายในปี 2020",
                cr: "https://mosaic-expedition.org/"
            }, {
                id: 10,
                name: "North American X-15",
                result: "ยอดเยี่ยมมาก คุณได้สร้าง เครื่องบิน X15 เครื่องบินที่ถือสถิติความเร็วที่ไม่มีใครทำลายได้อีกเลยตลอด 50 ปีที่ผ่านมา",
                details: "เครื่องบินความเร็วเหนือเสียงที่ดำเนินการโดยกองทัพสหรัฐอเมริกา สามารถทำความเร็วสูงสุดอยู่ที่ 4,520 ไมล์ต่อชั่วโมง (7,274 กม./ชม.) บนความสูง 102,100 ฟุต (31,120 เมตร) โดยเป็นเครื่องบินที่เก็บบันทึกค่าความเร็วและระดับความสูงเมื่อถึงขอบอวกาศและส่งข้อมูลอันเป็นประโยชน์ที่ใช้ในการออกแบบเครื่องบินและยานอวกาศ",
                token: "10",
                state: "Good",
                points: 30,
                badge: "เจ้าแห่งความเร็ว",
                budget: 9000000,
                currency: "million",
                img: {
                    badge_img: "b10.svg",
                    project_img: "p10.svg"
                },
                agency: "United States Air Force, National Aeronautics and Space Administration:NASA ประเทศสหรัฐอเมริกา",
                date: "เริ่มโครงการสร้าง: 30 ธันวาคม 1954 - ปลดประจำการ: 20 ธันวาคม 1968",
                cr: "https://www.nasa.gov/centers/armstrong/news/FactSheets/FS-052-DFRC.html"
            }, {
                id: 11,
                name: "XMM-Newton",
                result: "สุดยอด ด้วยกล้องโทรทรรศน์ที่คุณได้สร้างขึ้นทำให้สามารถส่องได้ออกนอกไปในอวกาศเพื่อเฝ้าดูความลับของจักรวาล",
                details: "โครงการเกี่ยวกับการตรวจจับและศึกษาแหล่งกำเนิดรังสีเอกซ์บนท้องฟ้าผ่านดาวเทียมที่ติดตั้งกล้องโทรทรรศน์ในอวกาศเพราะเนื่องจากชั้นบรรยากาศของโลกปิดกั้นรังสีเอกซ์ทั้งหมด รวมถึงใช้ในการไขความลึกลับของจักรวาล เนื่องจากยานอวกาศมีสุขภาพที่ดีและผลตอบแทนที่สำคัญของข้อมูล XMM-Newton จึงได้รับการขยายภารกิจหลายอย่างโดยคณะกรรมการโครงการวิทยาศาสตร์ของ ESA ถึง 5 ครั้ง โดยล่าสุดได้ขยายขอบเขตสิ้นสุดภารกิจไปถึงภายในปี 2022",
                token: "25",
                state: "Good",
                points: 250,
                badge: "สิ่งลึกลับในอวกาศ",
                budget: 816000000,
                currency: "million",
                img: {
                    badge_img: "b11.svg",
                    project_img: "p11.svg"
                },
                agency: "European Space Agency สหภาพยุโรป",
                date: "ปล่อยตัว: 10 ธันวาคม 1999 - เสร็จสิ้นภารกิจ: ปลายปี 2022",
                cr: "https://sci.esa.int/web/xmm-newton/"
            }, {
                id: 12,
                name: "Hubble Space Telescope",
                result: "คุณได้สร้างกล้องโทรทรรศน์อวกาศฮับเบิลที่แม้ไม่ได้เป็นกล้องโทรทรรศน์อวกาศตัวแรกของโลก แต่มันเป็นหนึ่งในเครื่องมือวิทยาศาสตร์ที่สำคัญที่สุดในประวัติศาสตร์การศึกษาดาราศาสตร์!!!",
                details: "กล้องโทรทรรศน์อวกาศฮับเบิล (อังกฤษ: Hubble Space Telescope) คือ กล้องโทรทรรศน์ในวงโคจรของโลกที่กระสวยอวกาศดิสคัฟเวอรีนำส่งขึ้นสู่วงโคจรเมื่อเดือนเมษายน ค.ศ. 1990 ตั้งชื่อตามนักดาราศาสตร์ชาวอเมริกันชื่อ เอ็ดวิน ฮับเบิล",
                token: "20",
                state: "Good",
                points: 100,
                badge: "กาแล็กซี่ที่กว้างใหญ่",
                budget: 36000000,
                currency: "million",
                img: {
                    badge_img: "b12.svg",
                    project_img: "p12.svg"
                },
                agency: "National Aeronautics and Space Administration:NASA ประเทศสหรัฐอเมริกา, European Space Agency:ESA สหภาพยุโรป, Space Telescope Science Institute:STScl ประเทศสหรัฐอเมริกา",
                date: "22 เมษายน 1990 - ปัจจุบัน",
                cr: "https://www.nasa.gov/hubble"
            }, {
                id: 13,
                name: "Voyager",
                result: "ยินดีด้วย คุณได้สร้างยานสำรวจอวกาศเพื่อการสำรวจระบบสุริยะ",
                details: "ยานสำรวจอวกาศไร้คนขับเคลื่อน ประกอบด้วย Voyager1 และ Voyager2 เพื่อเก็บข้อมูลของระบบสุริยะและเป็นยานที่มีอายุยาวนานที่สำรวจไกลที่สุดในประวัติศาสตร์ของมวลมนุษยชาติ โดย Voyager1 มีภารกิจในการไปสำรวจดาวพฤหัสบดี, ดาวเสาร์ และดวงจันทร์ไททันของดาวเสาร์ และ Voyager2 อยู่ในภารกิจขยายเพื่อค้นหาและศึกษาพื้นที่และขอบเขตของเฮลิโอสเฟียร์ชั้นนอกและเริ่มสำรวจ สื่อระหว่างดวงดาว(Interstellar Medium:ISM)",
                token: "30",
                state: "Good",
                points: 300,
                badge: "นักสำรวจระบบสุริยะ",
                budget: 856000000,
                currency: "million",
                img: {
                    badge_img: "b13.svg",
                    project_img: "p13.svg"
                },
                agency: "National Aeronautics and Space Administration:NASA ประเทศสหรัฐอเมริกา",
                date: "ปล่อยตัวยาน: 20 กันยายน 1977 - สิ้นสุดภารกิจ: ภายในปี 2025",
                cr: "https://www.voyager.jpl.nasa.gov"
            }, {
                id: 14,
                name: "Soyuz MS-10",
                result: "ทางเราพบว่ายานอวกาศ Soyuz MS-10 ของคุณเกิดอุบัติเหตุในการปล่อยยานทำให้ต้องกลับมายังโลก โชคดี! ทางเราไม่พบผู้เสียชีวิตในอุบัติเหตุ",
                details: "ยานอวกาศ Soyuz มีจุดประสงค์เพื่อขนส่งสมาชิกลูกเรือ Expedition 57 สองคนไปยังสถานีอวกาศนานาชาติ เนื่องจากความล้มเหลวของเครื่องกระตุ้นยานพาหนะปล่อย Soyuz-FG MS-10 ทำให้ไม่กี่นาทีหลังจากการออกตัว ยานเกิดความล้มเหลวในสถานการณ์ฉุกเฉินเนื่องจากบูสเตอร์และต้องกลับมายังโลก ลูกเรือทั้งสองคนกลับมาได้อย่างปลอดภัย และการยกเลิกเที่ยวบิน MS-10 เป็นตัวอย่างแรกของอุบัติเหตุที่เกิดจากลูกเรือรัสเซียในรอบ 35 ปีนับตั้งแต่ Soyuz T-10-1",
                token: "10",
                state: "Bad",
                points: 200,
                badge: "ความล้มเหลวในการปล่อยยาน",
                budget: '-',
                currency: "-",
                img: {
                    badge_img: "b14.svg",
                    project_img: "p14.svg"
                },
                agency: "National Aeronautics and Space Administration:NASA ประเทศสหรัฐอเมริกา, Roscosmos ประเทศรัสเซีย",
                date: "ปล่อยตัวยาน: 11 ตุลาคม 2018 และเกิดเหตุในวันเดียวกัน",
                cr: "https://www.nasaspaceflight.com/2018/11/soyuz-ms-10-abort-sensor-failure-booster-separation/"
            }, {
                id: 15,
                name: "Apollo 11",
                result: "ยินดีด้วย คุณได้ส่งมนุษย์ไปเหยียบดวงจันทร์เป็นคนแรกได้สำเร็จ นี่คือเวลาประวัติศาสตร์ที่โลกต้องจารึก!!!",
                details: "Apollo 11 เป็นโครงการอวกาศที่มนุษย์ลงจอดบนดวงจันทร์ได้เป็นครั้งแรก โดยผู้บัญชาการนีลอาร์มสตรองและนักบินโมดูลดวงจันทร์ Buzz Aldrin จากลูกเรือชาวอเมริกันที่ลงจอดด้วย Apollo Lunar Module Eagle ซึ่ง นีล อาร์มสตรองได้กลายเป็นมนุษย์คนแรกที่ได้ก้าวขึ้นบนพื้นผิวดวงจันทร์",
                token: "50",
                state: "Good",
                points: 500,
                badge: "ผู้กล้าแห่งดวงจันทร์",
                budget: 152000000000,
                currency: "billion",
                img: {
                    badge_img: "b15.svg",
                    project_img: "p15.svg"
                },
                agency: "National Aeronautics and Space Administration:NASA ประเทศสหรัฐอเมริกา",
                date: "เริ่มโครงการ: 25 พฤษภาคม 1961 - ปล่อยตัวยาน: 16 กรกฎาคม 1969",
                cr: "https://www.nasa.gov/mission_pages/apollo/missions/apollo11.html"
            }, {
                id: 16,
                name: "ExoMars",
                result: "ยินดีด้วย ภารกิจExoMars ของคุณได้ทำการสำรวจดาวอังคารด้วยTrace Gas Orbiter เพื่อตรวจสอบความเป็นไปได้ที่จะมีสิ่งมีชีวิตบนดาวอังคาร และทกลองการลงจอดบนดาวอังคาร",
                details: "เป็นภารกิจสำรวจดาวอังคารแบ่งออกเป็น 2 เฟส เฟสที่ 1 ที่จะถูกส่งขึ้นไปวันนี้ประกอบด้วย Trace Gas Orbiter ที่จะโคจรรอบดาวอังคารเพื่อตรวจวัดก๊าซบนผิวดาว โดยเฉพาะมีเทนที่บ่งชี้ถึงความเป็นไปได้ที่จะมีสิ่งมีชีวิตบนดาวอังคาร ยานอีกลำที่ส่งไปพร้อมกันคือ Schiaparelli EDM ที่จะลงจอดบนผิวดาว เพื่อทดสอบเทคโนโลยีการลงจอด เป็นการนำร่องสำหรับ เฟส 2 ที่จะส่งยานสำรวจ (rover) ไปลงจอดบนผิวดาวในอีก 2 – 3 ปีข้างหน้า สำหรับ Trace Gas Orbiter และ Schiaparelli EDM จะถูกส่งโดยจรวด Proton ของรัสเซียจากฐานปล่อยจรวด ไบโครนัวร์ ประเทศคาซัคสถาน",
                token: "25",
                state: "Good",
                points: 250,
                badge: "ผู้พิชิตดาวอังคาร",
                budget: 1300000000,
                /*>1.3 Billion*/
                currency: "billion",
                img: {
                    badge_img: "b16.svg",
                    project_img: "p16.svg"
                },
                agency: "European Space Agency:ESA สหภาพยุโรป, Russian Federal Space Agency ประเทศรัสเซีย",
                date: "ปล่อยตัวยาน: 14 มีนาคม 2016 – ลงจอดบนดาวอังคาร: 19 ตุลาคม 2016 และยังสำรวจบนดาวอังคารถึงปัจจุบัน",
                cr: "http://www.esa.int/Science_Exploration/Human_and_Robotic_Exploration/Exploration/ExoMars"
            }, {
                id: 17,
                name: "SpaceX",
                result: "ยินดีด้วย โครงการ SpaceX ของคุณได้สร้างความประหลาดใจเป็นอย่างมาก นอกจากลดต้นทุนการขนส่งแล้วยังทำให้สามารถตั้งรกรากบนดาวอังคารได้",
                details: "โครงการที่มีเป้าหมายในการลดต้นทุนการขนส่งทางอวกาศเพื่อให้สามารถตั้งรกรากบนดาวอังคารได้ SpaceX ได้พัฒนายานเปิดตัวหลายรุ่น เช่น กลุ่มดาวเทียม Starlink, ยานอวกาศขนส่ง Dragon และส่งมนุษย์ไปยังสถานีอวกาศนานาชาติในยาน Crew Dragon Demo-2",
                token: "40",
                state: "Good",
                points: 400,
                badge: "ผู้บุกเบิกดาวอังคาร",
                budget: 6000000000,
                currency: "billion",
                img: {
                    badge_img: "b17.svg",
                    project_img: "p17.svg"
                },
                agency: "Tesla ประเทศสหรัฐอเมริกา",
                date: "เริ่มโครงการ: 6 May 2002 - ปัจจุบัน",
                cr: "https://www.spacex.com/"
            }, {
                id: 18,
                name: "Orbiter Vehicle Designation (OV-102)",
                result: "แย่แล้ว! ยานขนส่งอวกาศโคลัมเบียที่กำลังเดินทางกลับพื้นโลกเกิดการระเบิดขึ้น ทำให้สูญเสียนักบินของเราไปถึง 7 คน",
                details: "ยานขนส่งอวกาศโคลัมเบียขององค์การนาซา เกิดการระเบิดเหนือท้องฟ้าของสหรัฐฯ ขณะกำลังเดินทางกลับสู่พื้นโลก อุบัติเหตุครั้งนี้ทำให้นักบิน 7 คนเสียชีวิต ยานขนส่งอวกาศโคลัมเบียระเบิดเมื่อเวลา 16 นาทีก่อนที่จะได้ร่อนลงจอดที่ศูนย์อวกาศเคเนดีในฟลอริดาตามกำหนดการ โคลัมเบียเพิ่งจะกลับจากการปฏิบัติภารกิจในวงโคจรรอบโลกเป็นเวลานาน 16 วัน ซึ่งมีเป้าหมายในการทดลองทางวิทยาศาสตร์หลายสิบรายการ",
                token: "40",
                state: "Bad",
                points: 800,
                badge: "อุบัติเหตุร้ายแรงที่ไม่คาดคิด",
                budget: '-',
                currency: "-",
                img: {
                    badge_img: "b18.svg",
                    project_img: "p18.svg"
                },
                agency: "National Aeronautics and Space Administration:NASA ประเทศสหรัฐอเมริกา",
                date: "เริ่มโครงการสร้าง: 26 กรกฎาคม 1972 - เกิดเหตุ: 16 มกราคม 2003",
                cr: "https://www.nasa.gov/centers/kennedy/shuttleoperations/orbiters/columbia_info.html"
            }, {
                id: 19,
                name: "Svalbard International Seed Vault",
                result: "สุดยอด คุณได้สร้างอุโมงค์เมล็ดพืชขึ้นมาซึ่งมีพืชพันธุ์มากกว่าถึง 1 ล้านชนิด",
                details: "อุโมงค์เมล็ดพันธุ์พืชแห่งสฟาลบาร์ เป็นแหล่งสำรองเมล็ดพรรณจากทั่วโลก ตั้งอยู่บนเกาะสปีตสเบร์เกน ประเทศนอร์เวย์ ปัจจุบันมีเมล็ดพันธุ์พืชมากกว่า 1 ล้านชนิด ทั้งหมดแยกเก็บรักษาในหีบห่อที่มิดชิด พร้อมควบคุมความชื้นภายใน ใส่ไว้ในห้องนิรภัยที่มีอุณหภูมิติดลบ  -18 องศาเซลเซียส ซึ่งสามารถเก็บไว้ใช้เมื่อเกิดวิกฤติต่าง ๆ ในอนาคตมากถึง 1,000 ปีเลย!",
                token: "5",
                state: "Good",
                points: 50,
                badge: "นักพฤกษศาสตร์",
                budget: 9000000,
                currency: "million",
                img: {
                    badge_img: "b19.svg",
                    project_img: "p19.svg"
                },
                agency: "Global Crop Diversity Trust, Nordic Genetic Resource Center คณะรัฐมนตรียุโรปภาคเหนือ",
                date: "เริ่มโครงการ: 26 กุมภาพันธ์ 2008 - ปัจจุบัน",
                cr: "https://www.seedvault.no/"
            }, {
                id: 20,
                name: "Starlink",
                result: "ยินดีด้วย กลุ่มดาวอินเตอร์เน็ตผ่านดาวเทียมของคุณได้สร้างประโยชน์ให้ทางการทหาร, วิทยาศาสตร์ และการสำรวจเป็นอย่างมาก",
                details: "กลุ่มดาวอินเทอร์เน็ตผ่านดาวเทียมถูกสร้างขึ้นโดย SpaceX ให้บริการอินเทอร์เน็ตผ่านดาวเทียม ประกอบด้วยดาวเทียมขนาดเล็กจำนวนมากที่สร้างขึ้นจำนวนมากในวงโคจรของโลกโดยทำงานร่วมกับเครื่องรับส่งสัญญาณภาคพื้นดิน SpaceX ยังวางแผนที่จะขายดาวเทียมบางส่วนเพื่อวัตถุประสงค์ทางการทหาร, วิทยาศาสตร์หรือการสำรวจ โดยมีศูนย์พัฒนาดาวเทียม SpaceX ในเรดมันด์วอชิงตันเป็นที่ตั้งของการวิจัยการพัฒนาการผลิตและการควบคุมบนวงโคจรของ Starlinkย",
                token: "40",
                state: "Good",
                points: 400,
                badge: "สุดยอดเครือข่าย",
                budget: 60000000000,
                currency: "billion",
                img: {
                    badge_img: "b20.svg",
                    project_img: "p20.svg"
                },
                agency: "Tesla ประเทศสหรัฐอเมริกา",
                date: "เริ่มโครงการในปี 2015 - ปัจจุบัน",
                cr: "https://www.starlink.com/"
            }]
        },
        methods: {
            // walk function
            walkAway: function(add) {
                this.before = this.count;
                this.count += add;
                this.index = this.count - 1;

                document.querySelector('#pos' + this.before).innerHTML = '';
                if (this.count >= 20) {
                    this.count = 20;
                    this.selectResult();
                }
                console.log(this.count)


                document.querySelector('#pos' + this.count).innerHTML = '<div class="character bounce"></div>';
            },

            // New Random Rolling Dice Function

            roll: function() {
                const ROLLING_NUMBER = 5;
                var randomNumber = Math.floor(Math.random() * 6) + 1;
                var dice = document.getElementById('dice').src = "img/dice/d" + randomNumber + ".svg";

                for (let i = 1; i <= ROLLING_NUMBER; i++) {
                    setTimeout(() => {
                        var randomNumber = Math.floor(Math.random() * 6) + 1;
                        var dice = document.getElementById('dice').src = "img/dice/d" + randomNumber + ".svg";
                        if (i === ROLLING_NUMBER) {
                            $('#staticBackdrop').modal('show')
                            this.walkAway(randomNumber)
                        }
                    }, 100 * i);
                }

                setTimeout(function() {
                    $('#staticBackdrop').modal('show')
                }, 5000);

                // this.tokenStateFn()
            },

            // Calculation token Function
            tokenStateFn: function() {
                // Keep Data
                this.tokenUsed = this.data[this.count - 1].token
            },

            selectResult: function(status, index) {
                if (this.count >= 20 || this.token <= 0) {
                    this.popupStatus = 2;
                    this.loadBadge();
                } else if (this.popupStatus != 2) {
                    this.popupStatus = 1;
                    if (status == true) {
                        // If Click button 'Invest'
                        this.investState = this.data[index].result;
                        // Calc Token Total
                        this.token = this.token - this.data[index].token;
                        this.tokenState = this.token + ' Token';
                        if (this.data[index].state == 'Good') {
                            this.point += this.data[index].points;
                            this.badge = this.data[index].img.badge_img;
                            this.badgeResult.push(this.data[index].img.badge_img);
                        } else {
                            this.point -= this.data[index].points;
                        }
                    } else {
                        this.investState = "ไม่ลงทุน";
                    }
                }
            },

            loadBadge: function() {
                for (var i = 1; i <= 20; i++) {
                    if (this.badgeResult.includes("b" + i + ".svg")) {
                        var obj = {};
                        obj["badge_name"] = 'test';
                        obj["badge_img"] = 'img/badge/b' + i + '.svg';
                        obj["status"] = true;
                        this.badgeAppend.push(obj);
                        // this.badgeAppend += "<div class='col-md-3'>";
                        // this.badgeAppend += '<img class="w-100" src="img/badge/b' + i + '.svg">';
                        // this.badgeAppend += "</div>";
                    } else {
                        var obj = {};
                        obj["badge_name"] = 'test';
                        obj["badge_img"] = 'img/badge/b' + i + '.svg';
                        obj["status"] = false;
                        this.badgeAppend.push(obj);
                        // this.badgeAppend += "<div class='col-md-3'><img class='w-100' style='filter: grayscale(100%);' src='img/badge/b" + i + ".svg'></div>";
                    }
                }
            },

            getBadgeDetail: function(index) {
                console.log(0);
                this.badgeOpenDetail = 1;
                this.badgeDetail = this.data[index];
            }
        },
        mounted() {
            this.walkAway(0);
        },
    })

    // Loading Function
    function fadeOut() {
        document.querySelector(".preloader").remove();
    }
    setTimeout(fadeOut, 1500);
    // setTimeout(fadeOut, 100);
</script>

</html>