body {
    font-family: 'Kodchasan', sans-serif;
    overflow-x: hidden !important;
    background-color: #002a3f;
}

.center_dis {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('img/intro/loading.svg');
    background-repeat: no-repeat;
    background-color: var(--bg1);
    background-position: center;
}


/*------------------------------------------------------------ color */

:root {
    --ci1: #333333 !important;
    --ci2: #666666 !important;
    --ci3: #999999 !important;
    --ci4: #cfcfcf !important;
    --chs1: #FFCC66 !important;
    --chs2: #EA7B6C !important;
    --chs3: #66B2D8 !important;
    --chs4: #61AF61 !important;
    --bg1: #FFFFFF !important;
    --bg2: #EFEFEF !important;
    --bg3: rgba(51, 51, 51, 0.45) !important;
    --bg4: #fafafa !important;
    --bd_size: 8px !important;
}

.ci1 {
    color: var(--ci1);
    /* <-- title1 */
}

.ci2 {
    color: var(--ci2);
    /* <-- title2 */
}

.ci3 {
    color: var(--ci3);
    /* <-- title3 */
}

.ci4 {
    color: var(--ci4);
    /* <-- title3 */
}

.bg1 {
    color: var(--bg1);
    /* <-- Bg1 */
}

.bg2 {
    color: var(--bg2);
    /* <-- Bg2 */
}

.bg3 {
    color: var(--bg3);
    /* <-- Bg2 */
}

.chs1 {
    background-color: var(--chs1) !important;
}

.chs2 {
    background-color: var(--chs2) !important;
}

.chs3 {
    background-color: var(--chs3) !important;
}

.chs4 {
    background-color: var(--chs4) !important;
}


/*------------------------------------------------------------ Border */

.xborder0 {
    /* around */
    border: solid var(--ci1) var(--bd_size) !important;
}

.xborder1 {
    /* top, bottom, left */
    border-top: solid var(--ci1) var(--bd_size) !important;
    border-left: solid var(--ci1) var(--bd_size) !important;
    border-bottom: solid var(--ci1) var(--bd_size) !important;
}

.xborder2 {
    /* top, left, right */
    border-top: solid var(--ci1) var(--bd_size) !important;
    border-left: solid var(--ci1) var(--bd_size) !important;
    border-right: solid var(--ci1) var(--bd_size) !important;
}

.xborder3 {
    /* left, right */
    border-left: solid var(--ci1) var(--bd_size) !important;
    border-right: solid var(--ci1) var(--bd_size) !important;
}

.xborder4 {
    /* bottom, left, right */
    border-bottom: solid var(--ci1) var(--bd_size) !important;
    border-left: solid var(--ci1) var(--bd_size) !important;
    border-right: solid var(--ci1) var(--bd_size) !important;
}

.xborder5 {
    /* top, left, right */
    border-top: solid var(--ci1) var(--bd_size) !important;
    border-left: solid var(--ci1) var(--bd_size) !important;
    border-right: solid var(--ci1) var(--bd_size) !important;
}

.xborder6 {
    /* bottom, top */
    border-bottom: solid var(--ci1) var(--bd_size) !important;
    border-top: solid var(--ci1) var(--bd_size) !important;
}


/*------------------------------------------------------------ fonts */

.fz_300 {
    font-weight: 300 !important;
}

.fz_600 {
    font-weight: 600 !important;
}

.fz_700 {
    font-weight: 700 !important;
}


/*------------------------------------------------------------ intro */

section {
    height: 100vh;
}

.intro_img {
    max-width: 12vw;
    margin-bottom: 2vw;
}

.intro {
    /* width: 100vw; */
    height: 98vh;
}

.arrow {
    text-align: center;
    font-size: 4vw;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--ci3);
    text-align: center;
}

a {
    text-decoration: none;
}

.bounceIntro {
    -moz-animation: bounceIntro 2s infinite;
    -webkit-animation: bounceIntro 2s infinite;
    animation: bounceIntro 2s infinite;
}

@keyframes bounceIntro {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


/*------------------------------------------------------------ Board Game */

.boardImg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.statePanel {
    padding: 5vh 0 0 10vh;
}

.inner_img {
    width: 100%;
    height: 100%;
}

.buget_img {
    width: 4vw;
}

.money {
    display: flex;
    background-color: var(--ci4);
    border-radius: 100em;
    align-items: center;
    /* width: 80%;
    margin: 0 auto; */
}

.buget_value {
    margin-left: 4%;
}

.dice_img {
    width: 150px;
}

.col-1 {
    height: 6em !important;
}

.character {
    position: absolute;
    z-index: 999;
    top: -3em;
    left: -.5em;
    width: 100%;
    height: 10em;
    background-image: url('img/character/c1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*------------------------------------------------------------ Dice */

.dice {
    max-width: 40%;
}

.col-1 {
    width: 7rem;
    height: 7rem;
}


/*------------------------------------------------------------ Modal_1 */


/* Scroll Bar Style */


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px var(--ci4);
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--ci4);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: var(--ci3);
}


/* modal set width and height */

.modal-content {
    height: 60%;
}

.modal-header {
    border-bottom: none;
}


/* sunray background style */

.sunray {
    width: 100%;
    height: auto;
}

@-webkit-keyframes rotating
/* Safari and Chrome */

{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
}

@-webkit-keyframes bounce
/* Safari and Chrome */

{
    from {
        -webkit-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
    }
    to {
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes bounce {
    0% {
        -ms-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
    }
    50% {
        -ms-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -webkit-transform: scale(1.04);
        -o-transform: scale(1.04);
        transform: scale(1.04);
    }
    100% {
        -ms-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.bounce {
    -webkit-animation: bounce 1.25s ease-in-out infinite;
    -moz-animation: bounce 1.25s ease-in-out infinite;
    -ms-animation: bounce 1.25s ease-in-out infinite;
    -o-animation: bounce 1.25s ease-in-out infinite;
    animation: bounce 1.25s ease-in-out infinite;
}

.jump {
    -webkit-animation: jump 1.1s ease-in-out infinite;
    -moz-animation: jump 1.1s ease-in-out infinite;
    -ms-animation: jump 1.1s ease-in-out infinite;
    -o-animation: jump 1.1s ease-in-out infinite;
    animation: jump 1.1s ease-in-out infinite;
}

@-webkit-keyframes jump
/* Safari and Chrome */

{
    from {
        -webkit-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
    }
    to {
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes jump {
    0% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
    40% {
        transform: translate3d(0, 30%, 0) scale3d(.7, 1.5, 1);
    }
    100% {
        transform: translate3d(0, 100%, 0) scale3d(1.5, .7, 1);
    }
}

.jump {
    transform-origin: 100% 100%;
    animation: jump .5s linear alternate infinite;
}


/* modal image style */

.modalImg {
    position: absolute;
    top: 0;
}


/* modal details style */

.modalDetail {
    overflow: auto;
    padding: 0 5px;
    /* height: 45%; */
    margin-bottom: 0;
    max-height: 25vh;
}

.moneyModal {
    display: flex;
    border-radius: 100em;
    align-items: center;
    margin-bottom: 1rem;
}

.buget_Modal_img {
    width: 1.5rem;
}

.buget_Modal_value {
    margin-left: 2%;
    margin-bottom: 0;
}

.invest_img {
    width: 6rem !important;
    margin: 0 auto;
}


/*------------------------------------------------------------ Modal_2 */

.modalInvest {
    width: 35% !important;
    position: inherit;
    margin: 0 auto;
}

.modalInvest_destail {
    padding: 0 20% !important;
}

.badge_Score {
    display: flex;
    border-radius: 100em;
    align-items: center;
}

.bagde_Score_img {
    padding-right: 0 !important;
    width: 4.5rem !important;
}

.warningIcon {
    position: absolute;
    z-index: 9999;
    max-width: 15%;
    margin: 2.5em;
    right: 0;
    bottom: 0;
}


/* 
 */

.myhover {
    transition: 0.5s;
}

.myhover:hover {
    transform: scale(1.1);
}


/* Bg Animation */

.myBG {
    position: fixed !important;
    overflow: hidden;
    overflow-y: hidden;
}


/*------------------------------------------------------------ Modaul Result */

.myScore {
    font-size: 10vh;
}

.modaulResult {
    width: 40% !important;
    position: inherit;
    margin: 0 auto;
}


/*------------------------------------------------------------ dice 3d */

@keyframes rotateDice {
    30% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    100% {
        transform: rotate3d(1, 1, 1, 720deg);
    }
}

@keyframes rotatePerFace {
    16% {
        transform: rotate3d(-0.1, 0.6, -0.4, 180deg);
    }
    32% {
        transform: rotate3d(-0.85, -0.42, 0.73, 180deg);
    }
    48% {
        transform: rotate3d(-0.8, 0.3, -0.75, 180deg);
    }
    64% {
        transform: rotate3d(0.3, 0.45, 0.9, 180deg);
    }
    80% {
        transform: rotate3d(-0.16, 0.6, 0.18, 180deg);
    }
    100% {
        transform: rotate3d(-0.1, 0.3, -1, 180deg);
    }
}

@keyframes throwDice {
    20% {
        margin-top: -100px;
    }
    40% {
        margin-top: 0px;
    }
    60% {
        margin-top: -30px;
    }
    80% {
        margin-top: 0px;
    }
    85% {
        margin-top: -10px;
    }
    90% {
        margin-top: 0px;
    }
    95% {
        margin-top: -3px;
    }
    100% {
        margin-top: 0px;
    }
}

.dice3d {
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    transform-style: preserve-3d;
    transform: rotate3d(0, 0.9, 0.9, 90deg);
    transition: 0.5s cubic-bezier(0.42, 1.57, 0.62, 0.86);
}

.dice3d.rolling {
    animation: rotatePerFace 3s cubic-bezier(0.42, 1.57, 0.62, 0.86) infinite;
}

.dice3d.throw {
    animation: rotateDice 0.7s ease-in reverse, throwDice 1s linear;
}

.diceFace {
    box-sizing: border-box;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #f6f3f0;
    border: 2px solid white;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.diceFace::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    transform: translateZ(-1px);
}

.diceFace::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    background-color: #131210;
    border-radius: 100%;
    transform: translateZ(1px);
}

.dice3d .front {
    transform: translateZ(50px);
}

.dice3d .front::after {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    background-color: #f63330;
}

.dice3d .up {
    transform: rotateX(90deg) translateZ(50px);
}

.dice3d .up::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px #131210;
}

.dice3d .left {
    transform: rotateY(-90deg) translateZ(50px);
}

.dice3d .left::after {
    margin: -40px 0 0 -40px;
    box-shadow: 30px 30px #131210, 60px 60px #131210;
}

.dice3d .right {
    transform: rotateY(90deg) translateZ(50px);
}

.dice3d .right::after {
    margin: -30px 0 0 -30px;
    background-color: #f63330;
    box-shadow: 40px 0px #f63330, 0px 40px #f63330, 40px 40px #f63330;
}

.dice3d .bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.dice3d .bottom::after {
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px #131210, 52px 52px #131210, 52px 0px #131210, 0px 52px #131210;
}

.dice3d .back {
    transform: rotateX(180deg) translateZ(50px);
}

.dice3d .back::after {
    margin: -40px 0 0 -30px;
    box-shadow: 40px 0px #131210, 0px 30px #131210, 40px 30px #131210, 0px 60px #131210, 40px 60px #131210;
}

.controller {
    position: absolute;
    width: 200px;
    padding: 20px;
    bottom: 0;
    left: calc(50% - 100px);
    color: white;
    text-align: center;
    line-height: 40px;
}

.diceWrap {
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.diceWrap::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 10%;
    top: 90%;
    left: 15%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    filter: blur(10px);
}


/*------------------------------------------------------------ Custom Cursor */

.pointer {
    cursor: pointer;
}