body{
    background-color: #EFEFEF !important;
    font-family: 'Kodchasan', sans-serif;
}

.center_dis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------------------------ color */
:root{
    --ci1: #333333 !important;
    --ci2: #666666 !important;
    --ci3: #999999 !important;
    --ci4: #cfcfcf !important;
    --chs1: #FFCC66 !important;
    --chs2: #EA7B6C !important;
    --chs3: #66B2D8 !important;
    --chs4: #61AF61 !important;
    --bg1: #FFFFFF !important;
    --bg2: #EFEFEF !important;
    --bg3: rgba(51, 51, 51, 0.45) !important;

    --bd_size: 8px !important;
}

.ci1{
    color: var(--ci1); /* <-- title1 */
}

.ci2{
    color: var(--ci2); /* <-- title2 */
}

.ci3{
    color: var(--ci3); /* <-- title3 */
}

.ci4{
    color: var(--ci4); /* <-- title3 */
}

.bg1{
    color: var(--bg1); /* <-- Bg1 */
}

.bg2{
    color: var(--bg2); /* <-- Bg2 */
}

.bg3{
    color: var(--bg3); /* <-- Bg2 */
}

.chs1{
    background-color: var(--chs1) !important;
}

.chs2{
    background-color: var(--chs2) !important;
}

.chs3{
    background-color: var(--chs3) !important;
}

.chs4{
    background-color: var(--chs4) !important;
}

/*------------------------------------------------------------ Border */

.border0{
    /* around */
    border: solid var(--ci1) var(--bd_size) !important;
}

.border1{ 
    /* top, bottom, left */
    border-top: solid var(--ci1) var(--bd_size) !important;
    border-left: solid var(--ci1) var(--bd_size) !important;
    border-bottom: solid var(--ci1) var(--bd_size) !important;
}

.border2{ 
    /* top, left, right */
    border-top: solid var(--ci1) var(--bd_size) !important;
    border-left: solid var(--ci1) var(--bd_size) !important;
    border-right: solid var(--ci1) var(--bd_size) !important;
}

.border3{ 
    /* left, right */
    border-left: solid var(--ci1) var(--bd_size) !important;
    border-right: solid var(--ci1) var(--bd_size) !important;
}

.border4{ 
    /* bottom, left, right */
    border-bottom: solid var(--ci1) var(--bd_size) !important;
    border-left: solid var(--ci1) var(--bd_size) !important;
    border-right: solid var(--ci1) var(--bd_size) !important;
}

.border5{
    /* top, left, right */
    border-top: solid var(--ci1) var(--bd_size) !important;
    border-left: solid var(--ci1) var(--bd_size) !important;
    border-right: solid var(--ci1) var(--bd_size) !important;
}

.border6{
    /* bottom, top */
    border-bottom: solid var(--ci1) var(--bd_size) !important;
    border-top: solid var(--ci1) var(--bd_size) !important;
}


/*------------------------------------------------------------ fonts */

.fz_300{
    font-weight: 300 !important;
}

.fz_600{
    font-weight: 600 !important;
}

/*------------------------------------------------------------ intro */

.intro_img{
    max-width: 12vw;
    margin-bottom:2vw;
}

.intro{
    /* width: 100vw; */
    height: 98vh;
}

.arrow {
    text-align: center;
    font-size: 4vw;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--ci3);
    text-align: center;
}

a {
  text-decoration: none;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*------------------------------------------------------------ Board Game */

.inner_img{
    width: 100%;
    height: 100%;
}

.buget_img{
    width: 4vw;
}

.money{
    display: flex;
    background-color: var(--ci4);
    border-radius: 100em;
    align-items: center;

    /* width: 80%;
    margin: 0 auto; */
}

.buget_value{
    margin-left: 4%;
}

.dice_img{
    width: 150px;
}

.col-1 {
    height: 6.5em;
}

.character {
    position: absolute;
    top: -5em;
    left: 1.5em;

    width: 3.25em;
    height: 10em;
    background-image: url('img/character/c1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*------------------------------------------------------------ Dice */

.dice{
    transition: 0.5s;
    max-width: 40%;

}

.dice:hover { 
    transform: scale(1.05);
}


.col-1{
    width: 7rem;
    height: 7rem;
}

/*------------------------------------------------------------ Modal */

.modal-header{
    border-bottom: none;
}