body{
    background-color: #EFEFEF !important;
    font-family: 'Kodchasan', sans-serif;
}

.center_dis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*------------------------------------------------------------ color */
:root{
    --ci1: #333333 !important;
    --ci2: #666666 !important;
    --ci3: #999999 !important;
    --ci4: #cfcfcf !important;
    --chs1: #FFCC66 !important;
    --chs2: #EA7B6C !important;
    --chs3: #66B2D8 !important;
    --chs4: #61AF61 !important;
    --bg1: #FFFFFF !important;
    --bg2: #EFEFEF !important;
    --bg3: rgba(51, 51, 51, 0.45) !important;
}

.ci1{
    color: var(--ci1); /* <-- title1 */
}

.ci2{
    color: var(--ci2); /* <-- title2 */
}

.ci3{
    color: var(--ci3); /* <-- title3 */
}

.ci4{
    color: var(--ci4); /* <-- title3 */
}

.bg1{
    color: var(--bg1); /* <-- Bg1 */
}

.bg2{
    color: var(--bg2); /* <-- Bg2 */
}

.bg3{
    color: var(--bg3); /* <-- Bg2 */
}

.chs1{
    background-color: var(--chs1) !important;
    border-top: solid var(--ci1) 3px;
    border-bottom: solid var(--ci1) 3px;
    border-right: solid var(--ci1) 3px;
}

.chs2{
    background-color: var(--chs2) !important;
    border-top: solid var(--ci1) 3px;
    border-bottom: solid var(--ci1) 3px;
    border-right: solid var(--ci1) 3px;

}

.chs3{
    background-color: var(--chs3) !important;
    border-top: solid var(--ci1) 3px;
    border-bottom: solid var(--ci1) 3px;
    border-right: solid var(--ci1) 3px;

}

.chs4{
    background-color: var(--chs4) !important;
    border-top: solid var(--ci1) 3px;
    border-bottom: solid var(--ci1) 3px;
    border-right: solid var(--ci1) 3px;

}


/*------------------------------------------------------------ fonts */

.fz_300{
    font-weight: 300 !important;
}

.fz_600{
    font-weight: 600 !important;
}

/*------------------------------------------------------------ intro */

.intro_img{
    max-width: 12vw;
    margin-bottom:2vw;
}

.intro{
    /* width: 100vw; */
    height: 98vh;
}

.arrow {
    text-align: center;
    font-size: 4vw;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--ci3);
    text-align: center;
}

a {
  text-decoration: none;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*------------------------------------------------------------ Board Game */


.buget_img{
    width: 4vw;
}

.money{
    display: flex;
    background-color: var(--ci4);
    border-radius: 100em;
    align-items: center;

    /* width: 80%;
    margin: 0 auto; */
}

.buget_value{
    margin-left: 4%;
}

.dice_img{
    width: 150px;
}

/*------------------------------------------------------------ Dice */

  
